---
_extends: .github:common-settings.yaml

repository:
  name: agent
  description: '@fro-bot Agent'
  topics:
    - fro-bot
    - agent
    - automation
    - actions
    - github-actions
    - github-app
    - bot

branches:
  - name: main
    protection:
      enforce_admins: true
      required_linear_history: true
      required_pull_request_reviews: null
      required_status_checks:
        strict: false
        contexts: [Build, Lint, Release, Test, Setup, Renovate / Renovate, Analyze]
      restrictions: null

  - name: v?
    protection:
      enforce_admins: true
      required_linear_history: false
      required_pull_request_reviews: null
      required_status_checks: null
      restrictions: null
